.login_welcome,
.login_title,
.login_description {
  color: #000;
  font-family: Apple SD Gothic Neo;
}

.login_welcome {
  font-size: 23px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 29px;
}

.login_title {
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 7px;
}

.login_description {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 39px;
}
