.chat_info {
}

.info_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 13px;
}

.info_code {
  color: var(--Whisper-Black, #000);
  font-family: Apple SD Gothic Neo;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 20px;
}

.info_subject {
  color: var(--Whisper-Gray, #7a7878);
  font-family: Apple SD Gothic Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.divider {
  height: 1px;
  background: var(--Whisper-Gray, #7a7878);
  margin-bottom: 10px;
}
